# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

src/main/notes/Mobs.txt
src/main/notes/PlayerInteraction.txt
src/main/notes/Script.txt
src/main/notes/Prospectus.txt
src/main/notes/Blocks.txt

*.bbmodel
